/*      TAMANYOS   */
.tamanyoLogoFramework {
    height: 200px;
    width: auto;
}
.tamanyoLogos {
    height: 100px;
    width: auto;
}

.tamanyoImgNavBar {
    width: 45px;
    height: 45px;
}

/*      COLORES   */
.textoColorVerde {
    color: #3BBA86;
}

a.linkVerde{
    color: #3BBA86 !important;
    text-decoration: none;
}

.border-success.oscuro{
    border-color: #33691e !important;
}
.border-info.oscuro{
    border-color: #01579b !important;
}